body {
  font-family: 'Playfair Display', serif;
  background-color: rgb(255, 254, 254);
}

.login-aluno {
  width: 40vh;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #542A78 ;
}

.login-aluno h1, p, a {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.login-aluno input{
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-aluno button {
  width: 100%;
  padding: 10px;
  background-color: #77B7B4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*#77B7B4
#542A78*/